body {
    font-family: "Comfortaa";
    overflow-x: hidden;
    color: black;
}

.navbar {
    background-color: white;
}


.container {
    width: 80%;
    margin: 0 auto;
}

#left-contain {
    width: 13rem;
    float: left;
}

#right-contain {
    width: 17rem;
    position: fixed;
    right: 0;
    top: 4rem;
}

.menu-item h5 {
    color: black;
}

.menu-item i {
    color: black;
}

@media (max-width: 820px) {
    .menu-item h5 {
        display: none;
        /* Hide the h5 element on small screens */
    }

    #left-contain {
        display: none;
    }
}

#search {
    border: 0px;
    background-color: rgb(239, 239, 239);
    width: 400px;
}

@media (max-width: 630px) {
    #search {
        width: 200px;
    }
}

#new-story {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgb(0, 0, 0);
    transition: color 1s;
}

#new-story:hover {
    color: grey;
}

.card-text {
    font-size: 15px;
}

.card-img-top {
    height: 130px;
}

#story {
    border: 2px solid rgb(127, 142, 255);
}

#mind-text {
    width: 50rem;
}

#post {
    background-color: white;
    border: none;
}

#post-time {
    font-size: 12px;
}

#post-opt {
    font-size: 18px;
}

@media screen and (max-width: 400px) {

    /* Adjust card width and height for smaller screens */
    #post {
        width: 60vh;
        height: 50vh;
    }
}

.sidebar>.active>h5 {
    color: rgb(127, 142, 255);
}

.sidebar>.active>span>i {
    color: rgb(127, 142, 255);
}

#pfp {
    border-radius: 50%;
}

.btn {
    background-color: rgb(127, 142, 255);
    border: none;
}

#post-text {
    width: 200vh;
    height: 25vh;
    background-color: transparent;
    border: none;
    font-size: 18px;

}

#post-text::placeholder {
    position: absolute;
    top: 0;
    left: 0;
}